.DataBase {
    grid-column: 1/1;
    grid-row: 8/8;
    font-size: x-large;
    margin: 3em;
    line-height: 2em;
}

.DataDetails {
    margin-top: 4em;
    background-color: #9393ab5b;
    border-radius: 3em;
}

.DataText {
    padding: 2em;
    padding-top: 0em;
    padding-bottom: 5em;
}

.DataWeapons:empty {
    display: none;
}

.DataText:empty {
    display: none;
}

.Model {
    border-radius: 1em;
    padding: 1em;
    background-color: #9393ab2a;
    margin: 1em;
}

.DataTitle {
    padding: 1em;
}

.ModelListItem {
    text-align: left;
}


.ModelCost {
    font-size: large;
    padding: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    text-align: left;
}

@media (min-width: 70em) {
    .DataBase {
        grid-column: 1/3;
        grid-row: 8/8;
        font-size: medium;
        background-color: #1c232100;
        line-height: 1.5em;

        margin: auto;
        width: 80%;
    }

    .DataDetails {
        background-color: #9393ab5b;
        border-radius: 11px;
        width: 50%;
        margin: auto;
        margin-top: 3em;
    }

    .Model {
        padding: 1em;
        border-radius: 25px;
        background-color: #7f7f9d5b;
        margin: 1em;
    }

    .DataText {
        padding: 1em;
        margin-top: .1em;
        margin-bottom: .1em;
    }

    .ModelCost {
        font-size: larger;
        text-align: right;
    }
}