.header {
    grid-column: 1 / 1;
    grid-row: 1/1;
    padding: 1em;
}

.headerAbout {
    height: .2em;
}

@media(min-width: 70em) {
    .header {
        grid-column: 1 / 1;
        grid-row: 1/1;
        padding: 3em;
        min-width: 20em;
        font-size: larger;
    }

    .headerAbout {
        height: 1em;
    }
}