.EtherealBase {
    grid-column: 1/1;
    grid-row: 6/6;
    padding: 3em;
    font-size: medium;
    background-color: #2d3734;
    margin: 3em;
}

.EtherealDetails {
    padding: 1em;
}

.EtherealText {
    padding: 1em;
}