.EtherealBase {
    grid-column: 1/1;
    grid-row: 6/6;
    padding: 3em;
    font-size: medium;
    background-color: #9393ab5b;
    margin: 3em;
    border-radius: 3em;
}

.EtherealDetails {
    padding: 1em;
}


@media (min-width: 70em) {
    .EtherealBase {
        grid-column: 1/1;
        grid-row: 6/6;
        padding: 3em;
        font-size: medium;
        background-color: #9393ab5b;
        max-width: 70%;
        margin: 3em;
        margin-left: auto;
        border-radius: 3em;
    }
}