.LordBase {
    grid-column: 1/1;
    grid-row: 7/7;
    padding: 3em;
    font-size: medium;
    background-color: #9393ab5b;
    margin: 3em;
    border-radius: 3em;
}

.LordDetails {
    padding: 1em;
}


@media (min-width: 70em) {
    .LordBase {
        grid-column: 2/2;
        grid-row: 6/7;
        padding: 3em;
        font-size: medium;
        background-color: #9393ab5b;
        max-width: 50%;
        margin: auto;
        border-radius: 3em;
    }
}